<h1 id="title" class="title">Modifier un lieu de formation</h1>

<nb-card size="large">
  <nb-card-body>
    <button (click)="goBack()">Retour</button>
    <form>
      <div class="form-control-group">
        <label class="label" >Nom du lieu :</label>
        <input
          name="name"
          #name
          placeholder="name"
          [(ngModel)]="place.name"
        />
      </div>
      <div class="form-control-group">
        <label class="label" >Adresse du lieu :</label>
        <input
          name="address"
          #adresse
          placeholder="adresse"
          [(ngModel)]="place.address"
        />

      </div>

      <button nbButton fullWidth (click)="save()">Valider</button>
    </form>
  </nb-card-body>
</nb-card>