<h1 id="title" class="title">Ajouter un utilisateur</h1>
<nb-card>
  <nb-card-body>
    <button nbButton hero (click)="goBack()">Retour</button>
  </nb-card-body>
</nb-card>
<nb-card size="geant">
  <nb-card-body>
    <form>
      <div class="form-control-group">
        <label class="label">Prénom :</label>
        <input name="prenom" #firstname placeholder="Prénom" />
      </div>

      <div class="form-control-group">
        <label class="label">Nom :</label>
        <input name="name" #lastname placeholder="nom" />
      </div>

      <div class="form-control-group">
        <label class="label">adresse :</label>
        <input name="adresse" #adress placeholder="Adresse" />
      </div>

      <div>
        <label class="label" for="birthday">Date de naissance</label>
        <input #birthday placeholder="date de naissance" [nbDatepicker]="formpicker" />
        <nb-datepicker #formpicker></nb-datepicker>
      </div>

      <div class="form-control-group">
        <label class="label">Téléphone</label>
        <input name="phone" #phone placeholder="téléphone" />
      </div>

      <div class="form-control-group">
        <label class="label">Email</label>
        <input name="email" #email placeholder="email" />
      </div>

      <div class="form-control-group">
        <label class="label">Formation</label>
        <nb-select #training placeholder="Formation">
          <nb-option *ngFor="let training of trainings" value="training.id">{{training.name}}</nb-option>
        </nb-select>
      </div>
    </form>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-body>
    <button nbButton hero status="success" (click)="
          add(firstname.value, lastname.value, adress.value, birthday.value, phone.value, email.value, training.value)
        ">
      Valider
    </button>

  </nb-card-body>
</nb-card>