<h1 id="title" class="title">Ajouter un lieu de formation</h1>

<nb-card>
  <nb-card-body>

    <button nbButton hero (click)="goBack()">Retour</button>
  </nb-card-body>
</nb-card>
  <nb-card size="small">
  <nb-card-body>  
    
    <form>
  
        <div class="form-control-group">
          <label class="label" >firstname</label>
          <input
          nbInput
          fieldSize="small"
            name="firstname"
            #firstname
            placeholder="firstname"
          />
        </div>
        <div class="form-control-group">
          <label class="label" >lastname</label>
          <input
          nbInput
          fieldSize="small"
            name="lastname"
            #lastname
            placeholder="lastname"
          />
        </div>
        <div class="form-control-group">
          <label class="label" >email</label>
      

          <nb-form-field>
            <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
            <input
            nbInput
            fieldSize="small"
              name="email"
              #email
              placeholder="email"
            />
          </nb-form-field>
        </div>
        <div class="form-control-group">
          <label class="label" >password</label>
          <input
          nbInput
          fieldSize="small"
            name="password"
            #password
            placeholder="password"
          />
        </div>
        <div class="form-control-group">
          <label class="label" >status</label>
         
          <nb-radio-group name="status" #status>
            <nb-radio value="0">false</nb-radio>
            <nb-radio value="1">true</nb-radio>

          </nb-radio-group>
        </div>

    </form>
      </nb-card-body>
</nb-card> 

      <nb-card>
        <nb-card-body>
      <button nbButton hero status="success" (click)="add(firstname.value,lastname.value,email.value,password.value,status.value)">Valider</button>
    </nb-card-body>
  </nb-card>
